@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Cormorant&display=swap');
*{
margin: 0;
padding: 0;
box-sizing: border-box;
background-color:peru;
}
.brand{
    text-align:center;
    padding: 20px;
}
.quote{
    text-align: center;
    font-style:italic;
    text-decoration-style: dotted;
}
nav{
    background-color:indigo;
    font-style:italic;
    color:maroon;
    display: grid;
    place-items: center;
}
nav ul{
    list-style-type: none;
}
nav ul a{
    display: inline-block;
    padding: 20px;
}
form{
    background-color:gray;
    padding: 20px;
    text-align:center;
    font-style: italic;
}
input{
    background-color:bisque;
    display: inline-block;
    text-align:center;
    color: black;
    font-size:2rem;
    font-family:Arial, Helvetica, sans-serif;
}
table{
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 50%;
    width:100%;
    transform: translate(-50%,-50%);
    border: solid;
    background:#fafafa;
    text-align: center;
    height: 50px;
}
th{
    background: #ba68c8;
}